body {
    background: #e6e6e6;
  }

.navbar {
    
    background: #ffffff;
  }

.h3 {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: rgb(37, 199, 185);
    border-radius: 3px;
    color: white;
  }

.phead {
    color: rgb(37, 199, 185);
}

.pbody {
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    margin-left: 300px;
    background: white;
    width: 80%;
}

.smbody{
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 250px;
    background: white;
    width: 50%;
}

.cbody{
    display: Inline-block;
    padding: 30px;
    margin-top: 20px;
    margin-left: 150px;
    
    background: white;
    width: 100%;
}

.dbody{
  display: Inline-block;
  padding: 30px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  background: white;
  width: 100%;
}

#image {
    width: 200px;
    height: 200px;
    float:left;
  }

#inImage{
  width: 700px;
  heigh: 350px;
}

#h4{
    color:rgb(37, 199, 185)
}
